* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(179, 233, 255);
}
hr {
  color: black;
  background-color: black;
  border: 0;
  height: 1px;
}
.bola {
  width: 280px;
  padding: 10px;
  padding-left: 20px;
}
.dire {
  padding-top: 40px;
}
.lechoza {
  width: 600px;
  padding-top: 30px;
  padding-left: 20px;
}
.balon {
  width: 90%;
  margin: 30px auto;
}
p {
  font-size: 20px;
  padding-bottom: 35px;
}
h1,
h3 {
  padding: 20px;
  font-family: "Martel", serif;
}
h3 {
  text-shadow: 1px 1px 1px black;
  color: rgb(2, 219, 38);
}
h1 {
  font-size: 45px;

  text-shadow: 2px 2px 2px gray;
}
.cesto {
  padding: 20px;
  display: flex;
}
.cesto li {
  list-style-type: none;
  line-height: 35px;
}
.malla {
  padding-left: 400px;
}
.aro {
  padding: 20px;
  line-height: 35px;
}
li {
  font-size: 20px;
}
